.page-border {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-width: 0 40px 0 40px;
  border-style: solid;
  border-image: url("/assets/images/border-full.png") 250 repeat;

  pointer-events: none;
}