body {
  background-color: black;
  color: white;
}

.post-preview  > a {
  color: white;
}

.post-heading > h1 {
  background-color: black;
  border-radius: 1em;
  padding: 0.3em;
  text-align: center;
  word-break: break-word;
}

body > header > div.container > div > div > div.page-heading {
  display: flex;
  flex-direction: column;
  margin-top: 500px;
  margin-bottom: 2em;
  padding: 0;
}
